body {
    font-family: Arial;
    background-color: #f4f4f4;
    text-align: center;
}

.container {
    background: white;
    padding: 20px;
    margin: 100px auto;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 0 10px green;
}

input {
    display: block;
    margin: 10px auto;
    padding: 8px;
    width: 80%;
}

button {
    padding: 8px 15px;
    cursor: pointer;
}
